body{
   
    background-image: url(picture/bg.jpeg); /* this is for the background image of the page*/
    
}

.image {
    /* For image*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    border-radius: 10px;
    transition: 0.5s;
    border: 10px solid rgb(216, 208, 208);
    
    
}

.image:hover{
    /* To hover aor everytime 'yung arrow or mouse ay natapat sa pic maghohver yung pic with a transition of .5 secs*/
    transform: translateY(-5px);
}

.name{
    /* This if for the Full name*/
    text-align: center;
    font-size: 50px;
    margin-top: 25px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 5px solid rgb(0, 0, 0);
    background-color: white;
    max-width: 500px;
}

.nickname{
    /* for the nickname */
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 20px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 20px;
    background-color: white;
    max-width: 300px;
}


.myfavorites{
    /* for the favorites word */
    font-family: times; 
    font-size: 30px; 
    text-align: center;
}

#lineafter{
    /* for the horizontal line */
    margin-top: 0%;
    background: #f9f9f9;
    width: 500px;
    height: 5px;
    border-radius: 5px;
}

.indivrev table tr td {
     /* for the table row and table data since we input the 4 favorites into table with a corresponding padding to look like they are separated */
    color: #555;
    text-align: center;
    font-size: 18px;
    border-radius: 30px;
    background-color: antiquewhite;
    transition: 0.5s;
    border-style: outset;
}

.indivrev table tr td:hover{
    transform: translateY(-5px); 
}

.indivrev table tr td p{
     /* for the text or paragraphs inside the table */
    text-align: center;
    width: 200px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

